# Configuration du serveur
PORT=3000
NODE_ENV=development

# Base de données
DATABASE_URL="file:./dev.db"

# JWT
JWT_SECRET=votre-secret-jwt-tres-long-et-unique

# Secret séparé pour les tokens email (Personne 2)
EMAIL_TOKEN_SECRET=votre-secret-email-tres-different-de_jwt_secret

# Configuration Email (Personne 2) - Mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=7037a821a46c23
SMTP_PASS=2f24a95f32dfd4
SMTP_FROM=no-reply@votre-app.com

# Application
APP_NAME=TP NodeJS Express
FRONTEND_URL=http://localhost:3000
